html {
    font-size: 10px;
}

body {
    background: #edf3ff;
    margin: 0;
}

#main {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
}

#name-div {
    background-color: rgb(4, 73, 201);
    width: 100%;
    max-width: 100%;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#gameName {
    color: #FFE84A;
    font-size: 5rem;
    text-align: center;
    font-family: "Games";
    margin: auto;
}

#scissors-but,
#paper-but,
#rock-but {
    border-style: none;
    background: none;
    cursor: pointer;
}

#rock-but img {
    max-width: 250px;
}

#scissors-but img {
    max-width: 250px;
}

#paper-but img {
    max-width: 250px;
}

#but-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#ring-div {
    max-width: 650px;
}

#icons {
    display: flex;
    flex-direction: row;
}

#ring-img {
    width: 100%;
}

#scissors-icon {
    display: none;
}

#paper-icon {
    display: none;
}

#rock-icon {
    display: none;
}

#scissors-icon,
#paper-icon,
#rock-icon {
    position: absolute;
    width: 400px;
    margin-top: -2.5em;
    margin-left: -2em;
}

#scissors-icon2,
#paper-icon2,
#rock-icon2 {
    position: absolute;
    width: 400px;
    margin-top: -2.5em;
    margin-left: 25em;
}

#scissors-icon2 {
    display: none;
}

#paper-icon2 {
    display: none;
}

#rock-icon2 {
    display: none;
}

#score-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    font-size: 1.5rem;
}

#but-div {
    width: 50%;
    justify-content: space-around;
}

#reset-but,
#history-but {
    color: black;
    font-weight: 700;
    border-style: solid;
    padding: 0.5em 2em;
    background: #FFD414;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
}

#whoWin {
    font-size: 1.5rem;
}

#historyText {
    font-size: 2rem;
}

#creator {
    width: 100%;
    background-color: rgb(4, 73, 201);
    min-height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}

#creator p {
    padding-left: 5em;
    color: white;
    width: 100%;
    font-size: 2rem;
    font-family: "Roboto";
}

#work-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5%;
    padding-right: 2em;
}

.fa-github{
    color:#FFD414;
}

.fa-linkedin-square{
    color:#FFD414;
}

@media(max-width: 600px) {
    html{
        font-size: 9px;
    }
    #rock-but img {
        max-width: 100px;
    }

    #scissors-but img {
        max-width: 100px;
    }

    #paper-but img {
        max-width: 100px;
    }

    #scissors-icon,
    #paper-icon,
    #rock-icon {
        width: 200px;
        margin-top: 0;
        margin-left: 3em;
    }

    #scissors-icon2,
    #paper-icon2,
    #rock-icon2 {
        width: 200px;
        margin-top: 0;
        margin-left: 20em;
    }

    #work-icon{
        padding-right: 2em;
        width: 20%;
    }

    #creator{
        justify-content: space-between;
    }

    #creator p {
        padding-left: 0em;
    }
}